<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom-style.css' | relative_url }}">

  <!--script src="{{ '/assets/js/copy-code.js' | relative_url }}"></script -->
  


  {%- include head.html -%}


  

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="max-width: 1024px; margin: 0 auto; width: 90%;">
      <div class="wrapper" style="max-width: 1024px; margin: 0 auto; width: 90%;">
        {{ content }}
      </div>
    </main>


  </body>

</html>
